# Dependencies
node_modules/

# Build
dist/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/
/src/generated/prisma
